.profile{
   width: 80%;
   box-shadow: 10px 10px;
   border-radius: 25px;
}

.icon{
    border-radius: 25px;
}

.login{
    padding-left: 2.5rem; 
    padding-right: 2.5rem;
    background-color: #2D2E2D !important;
    color: #D6F6D0 !important;
}

.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}
.h-custom {
height: calc(100% - 73px);
}

.center{
    text-align: center;
    position: absolute;
    top: 5%;
}

.centerup{
    text-align: center;
    position: absolute;
    top: 2%;
}

@media (max-width: 450px) {
.h-custom {
height: 100%;
}

.img-fluid{
    display: none;
}
}

@media (min-width: 450px) {
    .svg{
        display: none;
    }
}